{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for company in companies %}
            <div class="col-lg-4 col-sm-12 col-md-6 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ company.name }}</h5>
                        {% url 'company-page' company.id as target_company %}
                        <a href={{ target_company }}>Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}